/*
File: duplikit.css

About: Version
	1.0

Project: DupliKit

Description:
	I can't believe it's not Cocoa!

Supports:
	- iPad (iPhone coming soon(?))

*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

view, view * {
	-webkit-transform: translate(0, 0);
}

view {
	/* Disable Loupe */
	-webkit-user-select: none;
	
	/* Disable Tap Effect */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	
	/* Disable Actionable Elements */
	-webkit-touch-callout: none;
}

view, view viewport, view section {
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	-webkit-backface-visibility: hidden;
}

view section {
	display: block;
	overflow: hidden;
}

view > viewport {
	z-index: 200;
}
