.ui-dup-tab-view-component section {
	background: #fff;
}

.ui-dup-tab-view-component section .ui-dup-tab-hidden {
	display: none;
}

.ui-dup-tab-view-component section header {
	display: none;
}

.ui-dup-tab-view-component viewport {
	width: 100%;
}

.ui-dup-tab-view-component viewport footer {
	top: -48px;
	left: 0;
	width: 100%;
	height: 48px;
	position: absolute;
	border-top: 1px solid #000;
	background: #000;
	color: #999;
	font-size: 10px;
	font-weight: bold;
}

.ui-dup-tab-view-component viewport footer ul {
	width: 100%;
	height: 46px;
	text-align: center;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#2e2e2e), to(#000), color-stop(50%, #151515), color-stop(50%, #000));
	border-top: 1px solid #434343;
}

.ui-dup-tab-view-component viewport footer li {
	margin: 1px 15px 0;
	width: 76px;
	height: 44px;
	line-height: 76px;
	display: inline-block;
}

.ui-dup-tab-view-component viewport footer li.ui-dup-tab-active {
	color: #fff;
	-webkit-border-radius: 3px;
	background: rgba(255, 255, 255, 0.14);
}

.ui-dup-tab-view-component viewport footer a {
	width: 100%;
	height: 100%;
	display: block;
	color: #999;
	background: url("../../images/tmp/icon-sample.png") no-repeat center 0;
}

.ui-dup-tab-view-component viewport footer li:nth-child(2) a {
	background-image: url("../../images/tmp/icon-sample-2.png");
}

.ui-dup-tab-view-component viewport footer li:nth-child(3) a {
	background-image: url("../../images/tmp/icon-sample-3.png");
}

.ui-dup-tab-view-component viewport footer li:nth-child(4) a {
	background-image: url("../../images/tmp/icon-sample-4.png");
}

.ui-dup-tab-view-component viewport footer li.ui-dup-tab-active a {
	color: #fff;
	background-position: center -44px;
}