/*
File: rivet.css

About: Version
	1.0

Project: DupliKit

Description:
	Enables fixed positioning on iPhone OS

Requires:
	- <duplikit.css>

*/

view section .ui-dup-rivet-scrollbar {
	top: 2px;
	right: 2px;
	position: absolute;
	width: 5px;
	z-index: 300;
	
	-webkit-transition: -webkit-transform 0ms cubic-bezier(0, 0, 0, 1.0);
	-webkit-backface-visibility: hidden;
}

view section .ui-dup-rivet-scrollbar-horizontal {
	left: 4px;
	right: auto;
	top: auto;
	bottom: 4px;
	width: auto;
	height: 5px;
}

view section .ui-dup-rivet-scrollbar-inner {
	top: 0;
	left: 0;
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	
	background: rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	
	-webkit-transform-origin: left top;
	-webkit-transition-property: opacity, height;
	-webkit-transition-duration: 500ms, 100ms;
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1.0);
	-webkit-backface-visibility: hidden;
}

view section .ui-dup-rivet-hidden .ui-dup-rivet-scrollbar-inner {
	opacity: 0;
}

.ui-dup-rivet {
	min-width: 100%;
	z-index: 100;
	position: absolute;
	
	-webkit-transition: -webkit-transform 0ms cubic-bezier(0, 0, 0, 1.0);
	-webkit-backface-visibility: hidden;
}